#root {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

@media (min-width: 576px) {
  #root {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  #root {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  #root {
    max-width: 960px;
  }
}